<div class="cadastro-form">
  <div class="cadastro-form__container">
    <div class="cadastro-form__card">
      <h2 class="cadastro-form__title">Crie seu cadastro</h2>
      <p class="cadastro-form__subtitle">Melhore sua descrição para atrair clientes!</p>

      <form [formGroup]="perfilForm" (ngSubmit)="onProximo()">

        <div class="cadastro-form__fields">
          <label class="cadastro-form__label">
            Sua foto
            <div class="cadastro-form__upload-container">
              <div class="cadastro-form__upload-area"
                [class.cadastro-form__upload-area--with-preview]="fotoPreview"
                (click)="fileInput.click()">
                <ng-container *ngIf="!fotoPreview">
                  <div>
                    <i class="fas fa-cloud-upload-alt"></i>
                    <p>Arraste arquivos para esta área ou clique para fazer o upload</p>
                  </div>
                </ng-container>
                <ng-container>
                  <img [src]="fotoPreview" alt="Preview da foto" class="cadastro-form__foto-preview">
                </ng-container>
              </div>
              <input type="file" accept="image/**" style="display: none;" #fileInput (change)="onFotoSelecionada($event)">
            </div>
          </label>
        </div>
        <div class="cadastro-form__field">
          <label class="cadastro-form__label">
            Resumo
            <textarea id="resumo"
              class="cadastro-form__textarea"
              formControlName="resumo"
              maxlength="70"
              rows="3">
            </textarea>
            <div class="cadastro-form__field-info">
              <span>Faça um resumo em até 70 caracteres</span>
              <span>{{ caracteresRestantes }}</span>
            </div>
          </label>
          @if(perfilForm.get('resumo')?.invalid && perfilForm.get('resumo')?.touched) {
            <div class="cadastro-form__error">
              @if(perfilForm.get('resumo')?.errors?.['required']){
                <span>Resumo é obrigatório</span>
              }
              @else if (perfilForm.get('resumo')?.errors?.['maxlength']) {
                <span>Resumo deve ter no máximo 70 caracteres</span>
              }              
            </div>
          }
        </div>
        <div class="cadastro-form__field">
          <label for="cadastro-form-label">Cite até 3 habilidades que você considera principais</label>
          <div class="cadastro-form__chips">
            <app-chip
              *ngFor="let habilidade of habilidades"
              [text]="habilidade.nome"
              [selected]="habilidade.selecionada"
              [disabled]="habilidade.desabilitada"
              (clicked)="toggleHabilidade(habilidade)">
            </app-chip>
          </div>
        </div>
        <div class="cadastro-form__field">
          <div class="cadastro-form__row cadastro-form__row--header">
            <div class="cadastro-form__column">
              <label class="cadastro-form__label">Idiomas</label>
            </div>
            <div class="cadastro-form__column">
              <label class="cadastro-form__label">Nível</label>
            </div>
          </div>
          <ng-container formArrayName="idiomas">
            @for (idiomaForm of idiomasArray.controls; track $index) {
              <div class="cadastro-form__row" [formGroupName]="$index">
                <div class="cadastro-form__column">
                  <select class="cadastro-form__select" formControlName="nome">
                    <option value="" disabled>Selecione um idioma</option>
                    @for (idioma of idiomas; track $index) {
                      <option [value]="idioma">{{idioma}}</option>
                    }
                  </select>
                  @if (idiomaForm.get('nome')?.invalid && idiomaForm.get('nome')?.touched) {
                    <div class="cadastro-form__error">
                      Idioma é obrigatório
                    </div>
                  }
                </div>
                <div class="cadastro-form__column">
                  <select class="cadastro-form__select" formControlName="nivel">
                    <option value="" disabled>Nível de conhecimento</option>
                    @for (nivel of niveisIdioma; track $index) {
                      <option [value]="nivel">{{nivel}}</option>
                    }
                  </select>
                  @if (idiomaForm.get('nivel')?.invalid && idiomaForm.get('nivel')?.touched) {
                    <div class="cadastro-form__error">
                      Nível é obrigatório
                    </div>
                  }
                </div>
                <div class="cadastro-form__column cadastro-form__column--actions">
                  @if($index > 0 || idiomaForm.get('nome')?.value != 'Português'){
                    <button type="button" class="cadastro-form__icon-button" (click)="removerIdioma($index)"></button>
                  }
                </div>
              </div>
            }
          </ng-container>
          <div class="cadastro-form__add-button">
            <button type="button" class="cadastro-form__text-button" (click)="adicionarIdioma()">
              <i class="fas fa-plus-circle"></i>Adicionar idiomas
            </button>
          </div>
        </div>
        <div class="cadastro-form__field">
          <label class="cadastro-form__label">
            Portfólio
            <input 
              type="url"
              id="portfolio"
              class="cadastro-form__input"
              formControlName="portfolio"/>
          </label>
          @if(perfilForm.get('portfolio')?.invalid && perfilForm.get('portfolio')?.touched){
            <div class="cadastro-form__error">
              URL inválida. Inclua http:// ou https://
            </div>
          }
        </div>
        <div class="cadastro-form__field">
          <label class="cadastro-form__label">
            Linkedin
            <input 
              type="url"
              id="linkedin"
              class="cadastro-form__input"
              formControlName="linkedin"/>
          </label>
          @if(perfilForm.get('linkedin')?.invalid && perfilForm.get('linkedin')?.touched){
            <div class="cadastro-form__error">
              URL do linkedin inválida.
            </div>
          }
        </div>
        <div class="cadastro-form__actions">
          <app-button
            text="Anterior"
            type="outline"
            icon="fas fa-arrow-left"
            iconPosition="left"
            (clicked)="onAnterior()">
          </app-button>

          <app-button
            text="Próximo"
            type="primary"
            icon="fas fa-arrow-right"
            iconPosition="right"
            [disabled]="perfilForm.invalid"
            (clicked)="onProximo()">
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
